*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root{
    --cream: #FAEBD7;
    --aqua: #8BE3E1;
    --yellowish: #D3F7AD;
    --greenish: #95BB76;
    --khaki: #97935C;
    --border_radius: 20px;
}

body{
    background-color: var(--cream);
    
}

nav{
    background-color: var(--aqua);
    width: 90%;
    height: 50px;
    margin: 30px 0px 10px 50px;
    border-radius: var(--border_radius);
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 20px;
    margin: 10px;
}

nav ul li a{
    color: black;
}

button{
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

h1{
    margin: 30px;
}

.login_form{
    background-color: var(--yellowish);
    width: 200px;
    margin: 100px 0px 0px 500px;
    padding: 10px 20px 100px 50px;
    position: absolute;
    border-radius: var(--border_radius);
    visibility: hidden;
    transition: ease-in;
} 

.register_form{
    background-color: var(--yellowish);
    width: 200px;
    margin: 100px 0px 0px 500px;
    padding: 10px 20px 100px 50px;
    position: absolute;
    border-radius: var(--border_radius);
    visibility: hidden;
    transition: ease-in;

} 
.add_item{
    background-color: var(--yellowish);
    width: 200px;
    margin: 100px 0px 0px 500px;
    padding: 10px 20px 100px 50px;
    position: absolute;
    border-radius: var(--border_radius);
    
    transition: ease-in;
}

#submit{
    margin: 50px 0px 0px 50px;
}